<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.schoolJob.mapper.MyWorkMapper">
    
    <resultMap type="MyWork" id="MyWorkResult">
        <result property="workId"    column="work_id"    />
        <result property="workName"    column="work_name"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="titleId"    column="title_id"    />
        <result property="titleName"    column="title_name"    />
        <result property="score"    column="score"    />
        <result property="fileId"    column="file_id"    />
        <result property="classId"    column="class_id"    />
        <result property="classCode"    column="class_code"    />
    </resultMap>

    <resultMap id="MyWorkMyTitleResult" type="MyWork" extends="MyWorkResult">
        <collection property="myTitleList" notNullColumn="title_id" javaType="java.util.List" resultMap="MyTitleResult" />
    </resultMap>

    <resultMap type="MyTitle" id="MyTitleResult">
        <result property="titleId"    column="title_id"    />
        <result property="titleName"    column="title_name"    />
        <result property="description"    column="description"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="classId"    column="class_id"    />
        <result property="classCode"    column="class_code"    />
    </resultMap>

    <sql id="selectMyWorkVo">
        SELECT
            w.work_id,
            w.work_name,
            w.score,
            t.title_id,
            t.title_name,
            u.user_id,
            u.nick_name,
            c.class_id,
            c.class_code,
            w.file_id
        FROM
            my_work w
                LEFT JOIN my_title t ON w.title_id = t.title_id
                LEFT JOIN sys_user u ON w.user_id = u.user_id
                LEFT JOIN my_class c ON t.class_id = c.class_id
    </sql>

    <select id="selectMyWorkList" parameterType="MyWork" resultMap="MyWorkResult">
        <include refid="selectMyWorkVo"/>
        <where>  
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            <if test="score == 1"> and w.score &gt;= 60</if>
            <if test="score == 2"> and w.score &lt; 60</if>
        </where>
    </select>
    
    <select id="selectMyWorkByWorkId" parameterType="Long" resultMap="MyWorkMyTitleResult">
        <include refid="selectMyWorkVo"/>
        <where>
            w.work_id = #{workId}
        </where>
    </select>
        
    <insert id="insertMyWork" parameterType="MyWork">
        insert into my_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workId != null">work_id,</if>
            <if test="workName != null">work_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="titleId != null">title_id,</if>
            <if test="fileId != null">file_id,</if>
            <if test="score != null">score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workId != null">#{workId},</if>
            <if test="workName != null">#{workName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="titleId != null">#{titleId},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="score != null">#{score},</if>
         </trim>
    </insert>

    <update id="updateMyWork" parameterType="MyWork">
        update my_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="workName != null">work_name = #{workName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="titleId != null">title_id = #{titleId},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where work_id = #{workId}
    </update>

    <delete id="deleteMyWorkByWorkId" parameterType="Long">
        delete from my_work where work_id = #{workId}
    </delete>

    <delete id="deleteMyWorkByWorkIds" parameterType="String">
        delete from my_work where work_id in 
        <foreach item="workId" collection="array" open="(" separator="," close=")">
            #{workId}
        </foreach>
    </delete>
    
    <delete id="deleteMyTitleByTitleIds" parameterType="String">
        delete from my_title where title_id in 
        <foreach item="titleId" collection="array" open="(" separator="," close=")">
            #{titleId}
        </foreach>
    </delete>

    <delete id="deleteMyTitleByTitleId" parameterType="Long">
        delete from my_title where title_id = #{titleId}
    </delete>

    <insert id="batchMyTitle">
        insert into my_title( title_id, title_name, description, start_time, end_time, file_id, class_id) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.titleId}, #{item.titleName}, #{item.description}, #{item.startTime}, #{item.endTime}, #{item.fileId}, #{item.classId})
        </foreach>
    </insert>

    <select id="selectPass" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
            LEFT JOIN my_title t ON w.title_id = t.title_id
            LEFT JOIN sys_user u ON w.user_id = u.user_id
            LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score &gt;= 60
        </where>

    </select>

    <select id="selectFailed" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
            LEFT JOIN my_title t ON w.title_id = t.title_id
            LEFT JOIN sys_user u ON w.user_id = u.user_id
            LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score &lt; 60
        </where>
    </select>

    <select id="selectless60" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
        LEFT JOIN my_title t ON w.title_id = t.title_id
        LEFT JOIN sys_user u ON w.user_id = u.user_id
        LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score between 0 and 59
        </where>
    </select>

    <select id="selectless70" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
        LEFT JOIN my_title t ON w.title_id = t.title_id
        LEFT JOIN sys_user u ON w.user_id = u.user_id
        LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score between 60 and 69
        </where>
    </select>

    <select id="selectless80" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
        LEFT JOIN my_title t ON w.title_id = t.title_id
        LEFT JOIN sys_user u ON w.user_id = u.user_id
        LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score between 70 and 79
        </where>
    </select>

    <select id="selectless90" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
        LEFT JOIN my_title t ON w.title_id = t.title_id
        LEFT JOIN sys_user u ON w.user_id = u.user_id
        LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score between 80 and 89
        </where>
    </select>

    <select id="selectless100" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        my_work w
        LEFT JOIN my_title t ON w.title_id = t.title_id
        LEFT JOIN sys_user u ON w.user_id = u.user_id
        LEFT JOIN my_class c ON t.class_id = c.class_id
        <where>
            <if test="classCode != null  and classCode != ''"> and c.class_code like concat('%', #{classCode}, '%')</if>
            <if test="titleName != null  and titleName != ''"> and t.title_name like concat('%', #{titleName}, '%')</if>
            <if test="workName != null  and workName != ''"> and w.work_name like concat('%', #{workName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            and w.score between 90 and 100
        </where>
    </select>
</mapper>